In [1]:
import xlrd
import pandas as pd
from openpyxl import load_workbook
import datetime

In [14]:
all=pd.DataFrame()
wb=load_workbook('manpower.xlsx')
for ws in wb.worksheets[180:210]:
    title=ws.title
    df=pd.read_excel('manpower.xlsx',sheet_name=ws.title,skiprows=2, usecols='A:J',na_values=0)
    df.columns=['#','Machine','SKU','STDMP','G','A','B','C','TOTAL','T']
    x=datetime.datetime.strptime(title,'%d-%m-%y')
    
    TL=[[title,df['TOTAL'].iloc[6],df['TOTAL'].iloc[32],df['TOTAL'].iloc[16],df['TOTAL'].iloc[14],df['TOTAL'].iloc[21]]]
    
    all=all.append(TL,ignore_index=True)

In [15]:
all.columns=['Date','IM6','FTC','40mldasho','19ml','10ml']
all

        Date  IM6  FTC  40mldasho  19ml  10ml
0   31-10-18  3.0  4.0          2   2.0   3.0
1   01-11-18  3.0  5.0          3   2.0   3.0
2   02-11-18  2.0  5.0          3   3.0   3.0
3   03-11-18  3.0  5.0          2   3.0   3.0
4   04-11-18  3.0  6.0          3   3.0   3.0
5   05-11-18  3.0  6.0          3   3.0   3.0
6   06-11-18  3.0  2.0          2   1.0   2.0
7   08-11-18  3.0  3.0          2   2.0   3.0
8   09-11-18  3.0  1.0          3   3.0   3.0
9   10-11-18  3.0  3.0          2   3.0   3.0
10  11-11-18  3.0  1.0          2   3.0   3.0
11  12-11-18  3.0  2.0          3   3.0   2.0
12  13-11-18  3.0  NaN          2   3.0   1.0
13  14-11-18  3.0  3.0          3   2.0   2.0
14  15-11-18  2.0  2.0          3   2.0   1.0
15  16-11-18  NaN  NaN          3   3.0   NaN
16  17-11-18  NaN  NaN          3   3.0   6.0
17  18-11-18  NaN  1.0          3   3.0   6.0
18  19-11-18  NaN  2.0          3   3.0   6.0
19  20-11-18  NaN  3.0          2   3.0   4.0
20  21-11-18  NaN  3.0          3   3.0   6.0
21  22-11-18  NaN  6.0          2   3.0   6.0
22  23-11-18  NaN  7.0          3   3.0   6.0
23  24-11-18  NaN  NaN          3   3.0   4.0
24  25-11-18  3.0  5.0          3   3.0   6.0
25  26-11-18  1.0  6.0          2   NaN   3.0
26  27-11-18  2.0  3.0          2   1.0   5.0
27  28-11-18  2.0  3.0          3   1.0   4.0
28  29-11-18  3.0  6.0          3   NaN   6.0
29  30-11-18  3.0  4.0          2   NaN   6.0

In [17]:
all.to_excel(excel_writer='MPAFTC.xlsx',index=False)

In [ ]:
df['TOTAL'].describe()